body {
    font-family: Arial, Helvetica, sans-serif;
}
#google-center {
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.search {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    padding-top: 10px;
    border-radius: 20px;
    outline: black 1px;
}

#Google-Search, #Im-Feeling-Lucky {
    display: inline-block;
    margin: 0 auto;
    background-color: white;
    border:white;
}

#Google-Search {
    position: relative;
    left: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

#Im-Feeling-Lucky {
    position: relative;
    left: 550px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#Google-Search:hover {
    border: 1px solid;
    border-radius: 0%;
    background-color: white;
    cursor: pointer;
}

#Im-Feeling-Lucky:hover {
    border: 1px solid;
    border-radius: 0%;
    background-color: white;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Header {
    display: table;
    margin: 0 auto;
}

li {
    display: inline;
}

#About {
    position: relative;
    right: 450px;
}

#Store {
    position: relative;
    right: 435px;
}

#About:hover {
    cursor: pointer;
    text-decoration: underline;
}

#Store:hover {
    cursor: pointer;
    text-decoration: underline;
}

#Gmail {
    position: relative;
    left: 410px;
}
#Sign-in {
    position: relative;
    left: 495px;
}

#Images {
    position: relative;
    left: 415px;
}