#google-center {
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.search {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#Google-Search, #Im-Feeling-Lucky {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border:white;
}

#Google-Search:hover {
    border: 1px solid;
    border-radius: 10%;
    background-color: white;
    cursor: pointer;

}

#Im-Feeling-Lucky:hover {
    border: 1px solid;
    border-radius: 10%;
    background-color: white;
    cursor: pointer;
}